name: Master
on:
  push:
    branches:
      - main

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/setup-go@v1
#        with:
#          go-version: 1.16.x
#      - uses: actions/checkout@v1
#        with:
#          fetch-depth: 1
#      - name: test
#        run: go test -v -race -bench=./... -benchmem -timeout=120s -bench=./... ./...
